.Header {
	display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.Header > #logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.Header > aside {
    flex-wrap: wrap;
    flex: 4;
}

.Header > .searchFill {
    flex: 1;
    min-width: 15%;
}

.Header > #logo > img {
    width: 100px;
    cursor: pointer;
}