.AIRecommendations {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.AIRecommendations > .coinsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.AIRecommendations > .coinsContainer > .coinBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.AIRecommendations > .coinsContainer > .coinBox > .coinHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.AIRecommendations > .coinsContainer > .coinBox > .coinHeader > .coinTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
    flex: 1;
    padding: 0 10px;
    text-align: start;
}

.AIRecommendations > .coinsContainer > .coinBox > .coinHeader > .askBtn {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 500px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

.AIRecommendations > .coinsContainer > .coinBox > .coinHeader > img {
    width: 50px;
    height: 50px;
}

.AIRecommendations > .coinsContainer > .coinBox > .recommendationBox {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    width: 100%;
    text-align: start;
}

.spinnerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}