@font-face {
  font-family: 'Comic Relief';
  src: url('./assets/fonts/ComicRelief/ComicRelief-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'Comic Relief', Arial, cursive;
}

html, body, #root {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
}
